@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  color: white;
  background: linear-gradient(180deg, #000000 0%, #000000 60%, #500000 100%);
}

/* Add smooth scrolling */
html {
  scroll-behavior: smooth;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Responsive text adjustments */
@media (max-width: 768px) {
  h1 span {
    font-size: 2.5rem;
  }
  .text-lg {
    font-size: 1rem;
  }
}


@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: white;
  }
}
